fastapi
uvicorn
python-dotenv
motor
pymongo
cryptography
python-jose
passlib
httpx
apscheduler
sse-starlette
prometheus-fastapi-instrumentator
RestrictedPython
langchain
langchain-openai
langchain-anthropic
langchain-groq
langchain-together
langchain-cohere
langchain-mistralai
langchain-tavily
langgraph
bs4
chroma
networkx
pydantic
python-multipart 